.btn {
  padding: 8px 16px;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn-primary {
  background-color: white;
  color: black;
  border: 2px solid white;
}

.btn-primary:hover {
  background-color: #bebebe;
  border-color: #bebebe;
}

.btn-secondary {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.btn-secondary:hover {
  background-color: #bebebe;
}

.btn-tertiary {
  background-color: transparent;
  color: white;
  border: 2px solid transparent;
}

.btn-tertiary:hover {
  background-color: #bebebe;
}

.btn-danger {
  background-color: transparent;
  color: rgb(255, 118, 117);
  border: 2px solid rgb(255, 118, 117);
}

.btn-danger:hover {
  background-color: rgba(255, 118, 117, 0.2);
  border: 2px solid rgb(255, 118, 117);
}